<div class="container">
  <h2>Form App 🗿</h2>

  <form action="post" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" [(ngModel)]="email" required />
    <br />
    <label for="password">Password:</label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="password"
      required
    />

    <br />
    @if(errorMessage) {
    <p>{{ errorMessage }}</p>
    }
    <button type="submit">Submit</button>

    <button [routerLink]="['/signup']" class="link">go to signup</button>
  </form>
</div>
